
.thankYou{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.thankYou h2, .thankYou p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
.continue{
    height:40px;
    width: 100%;
    border: 1px solid grey;
    border-radius: 10px; 
    font-size: 15px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(31, 5, 31);
    color:white;
}
.continueLink{
    width: 100%;

}