   body{
    font-family: Georgia, 'Times New Roman', Times, serif;
   }
/*Phones and tablet */
.cardRegistration{
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20%;
    font-size: 12px;
}
.register{
    height:40px;
    min-width: 96%;
    border: 1px solid grey;
    border-radius: 10px;
    padding-left: 3%;
    margin: 3% 0px;
    font-size: 15px;
    outline: none;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.submitForm{
    display: flex;
    justify-content: center;
}
.submit{
    height:40px;
    width: 70%;
    border: 1px solid grey;
    border-radius: 10px; 
    font-size: 15px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(31, 5, 31);
    color:white;
}
.monthCVV{
    display: flex;
    width:100%;
}
.month{
    height: 40px;
    width:30%;
    border: 1px solid grey;
    border-radius: 10px;
    padding-left: 5%;
    margin: 5% 3% 5% 0%;
    font-size: 15px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    outline: none;
}
.expDate{
    width:50%;
}
.flexCvv{
    width:50%;
}
.cvv{
height:40px;
width:94%; 
border: 1px solid grey;
border-radius: 10px;
margin: 5% 0%;
padding-left: 4%;
font-size: 15px;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
outline: none;
} 
.error1,.error2,.error3,.error4{
    margin:0;
    margin-top: -5px;
    padding:0;
    color: red;
    font-size: 10px;
}
@media only screen  and (min-width:769px) {
    .cardRegistration{
        display: flex;
        width: 40%;
        margin-top: 0;
    }
    .expDate{
        width:60%
    }
}
