 .App{
  display: flex;
  flex-direction: column;
  justify-items: center;
 }
 .purple{
  margin-bottom: 20%;
  background-image: url('file:///C:/Users/hp/OneDrive/Desktop/Temz/Portfolio/Projects/credit-card/src/Card%20details/images/bg-main-desktop.png');
 }
 .white{
  display: flex;
  justify-content: center;
  align-items: center;
 }
 
 @media only screen and (min-width:769px) {
  .App{
    flex-direction: row;
   }
   .purple{
    height: 100vh;
    width: 35%;
    display: flex;
    margin: 0;
   }
   .white{
    width: 65%;
    height: 100vh;
   }
 }
   